/*公共样式*/
#headerTopBackground
  background: -moz-linear-gradient(right, #FE7621, #FFAE45);
  background: -webkit-linear-gradient(right, #FE7621, #FFAE45);
  background: -webkit-gradient(linear,right,from(#FE7621),to(#FFAE45));
  background: -webkit-linear-gradient(right, #FE7621, #FFAE45);
  background: -o-linear-gradient(right, #FE7621, #FFAE45);
  background: linear-gradient(right, #FE7621, #FFAE45);
  background-color: #FE7621;
  