@import "var.styl"
.bg_white
  background white

.font_b{
  font-weight bolder
}

.text_c
  text-align center
.text_r
  text-align right
.text_l
  text-align left
.text_small
  font-size $text-small
.text_middle
  font-size $text-middle

.text_main
  color $mainColor
.text_white
  color white

.text_333
  color #333333
.text_666
  color #666
.text_999
  color #999999
.text_ccc
  color #ccc
.text_E2E2E2
  color #E2E2E2
.text_FF964D
  color #FF964D
.text_3196FA
  color #3196FA
.text_FC6565
  color #FC6565
.text_636262
  color #636262
.text_FF6868
  color #FF6868

.mt_5
  margin-top 5px
.mt_10
  margin-top 10px
.mt_15
  margin-top 15px
.mt_20
  margin-top 20px

.mb_10
  margin-bottom 10px
.mb_20
  margin-bottom 20px

.ml_10
  margin-left 10px
.ml_15
  margin-left 15px
.ml_20
  margin-left 20px

.mr_5
  margin-right 5px
.mr_10
  margin-right 10px
.mr_20
  margin-right 20px
.pt_5
  padding-top 5px
.pt_10
  padding-top 10px
.pt_15
  padding-top 15px
.pt_20
  padding-top 20px

.pl_5
  padding-left 5px
.pl_10
  padding-left 10px
.pl_15
  padding-left 15px
.pl_20
  padding-left 20px
.pl_30
  padding-left 30px

.pr_5
  padding-right 5px
.pr_10
  padding-right 10px
.pr_15
  padding-right 15px
.pr_20
  padding-right 20px
.pr_30
  padding-right 30px

.pb_5
  padding-bottom 5px
.pb_10
  padding-bottom 10px
.pb_15
  padding-bottom 15px
.pb_20
  padding-bottom 20px
.p_15
  padding 15px




.f_12
  font-size 12px
.f_14
  font-size 14px
.f_16
  font-size 16px
.f_18
  font-size 18px
.f_20
  font-size 20px
.f_24
  font-size 24px
.f_28
  font-size 28px
.f_32
  font-size 32px
.f_40
  font-size 40px
.f_48
  font-size 48px
.f_72
  font-size 72px


.f_bold
  font-weight bolder


.p_relative
  position relative
.p_absolute
  position absolute

.lh_20
  line-height 20px
.lh_22
  line-height 22px
.lh_24
  line-height 24px
.lh_26
  line-height 26px
.lh_28
  line-height 28px



